
body{
    margin-left: 2%;
    margin-right: 2%;
    font-family: 'Noto Sans', sans-serif;
}

header
{
   display: grid;
   grid-template-columns: 18% 50% 32%;
   border-bottom: #D3D3D5;
   border-bottom-style: solid;
   padding-bottom: 0.5rem;

}

#logo
{
    height: 4.375rem;
    width: 8.75rem;
}


.heading{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

#employee-directory-heading{
    font-size: 1.5rem;
font-family: 'Noto Sans', sans-serif;
    color: #2abbfd;
}

#description-directory
{
font-family: 'Noto Sans', sans-serif;
}

.welcome-outer{
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    flex-direction: row;
    cursor: pointer;
}

#name
{
    /* font-size: 23px;
     */
     font-size: 1.5rem;
    color: #3f3c3c;
    margin-right: 5px;
}

#welcome{
    font-size: 1.5rem;
font-family: 'Noto Sans', sans-serif;
    color: #2abbfd;
}

.container {

     display: grid;
     grid-template-columns: 20% 80%;
     margin-top: 1rem;
}

.filters
{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    margin-right: 2rem;
}

.humburger-filters
{
    position: absolute;
    visibility: visible;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    margin-right: 2rem;
    background-color: #d7efee;
    top: 120px;
    left: 4px;
    padding: 0.5rem;
    border-radius: 10px;
}



.alphabet-filters{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.user-icon{
    background-color: #2abbfd;
    padding: 0.4rem 0.7rem;
    color: white; 
}

.alphabet-box{
    background-color: #2abbfd;
    padding: 0.4rem 0.7rem;
    color: white;
font-family: 'Noto Sans', sans-serif;
    /* font-weight: 600; */
}

.alphabet
{
  text-decoration: none;
}

.utilities
{
    display: grid;
    grid-template-columns: 35% 35% 30%;
    margin-top: 1rem;
}

.search-outer
{
   display: flex;
   justify-content: space-between;
   align-items: center;   
}

.search
{
    display: flex;
    position: relative;
}

.search-icon
{
    position: absolute;
    left: 3.7rem;
    top: 0.4rem;
}

.clear-button
{
    background-color: #69ba00;
    padding: 0.5rem 1.3rem;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 0.8rem;
}

.filter-by-preffered-name{
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-employee
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  
}

#add-employee
{
    background-color: #2abbfd;
    padding: 0.8rem 1.3rem;
    color: white;
    /* font-size: 17px; */
    font-size: 1.1rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

#search-text{
    margin-right: 0.2rem;
    display: flex;
    align-items: center;
}

.search-box {
    padding: 0.35rem;
    padding-left: 1.7rem;
    outline: none;
    font-size: 0.8rem;
    }

.employee-image {
    height: 4.563rem;
    width:4.375rem;
    margin-right: 0.5rem;
}

.employee-image2 {
    height:4.063rem;
    width: 3.75rem;
    /* margin-right: 0.5rem; */
}


.departments, .offices, .job-titles{
 
    color: #979696;
    margin-bottom: 0.5rem;  
    margin: 0.5rem 0;
  
}

.employee-card {

     width: 90%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: #e9e8e8;
     padding: 0.5rem;
     margin: 1rem 0rem;
     margin-left: 1rem;
     /* box-sizing: content-box; */


    }


.employee-cards-outer {

     display: grid;
     grid-template-columns: 25% 25% 25% 25%;
     margin-top: 2rem; 
    border: #d3d3d3;
    border-style: solid;

}

.employee-details {
 
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: center;
     margin-right: 1rem;
     
}

.employee-name
{
    font-weight: 600;
    margin-bottom: 3px;
    font-family: 'Noto Sans', sans-serif;
}

.icons
{
     cursor: pointer;
}

.department-list, .offices-list, .job-titles-list
{
    font-size: 0.8rem;
    cursor: pointer;
}

.offices, .job-titles{
 
    margin-top : 3.5rem;
}


.designation , .department-name
{
  font-size: 0.79rem;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
    overflow-y: scroll;
    height: 33rem;
}

.close-button {
    float: right;
    width: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
}

.modal-input{
    width: 95%;
    padding: 8px 8px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
}

.form-submit{
    background-color: #8ebf42;
    color: white;
    padding: 14px 0;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    border-radius: 5px;
}

.modal-container
{
    padding-right: 16px;
    text-align:left;
}
h3 {
    text-align:center;
    font-size:18;
 }

 @media screen and (max-width: 1280px) {
    
    .employee-card {

        width: 85%;
        justify-content: flex-start;
   }

   .employee-image {

    margin-right: 1.5rem;

}
   
   .employee-cards-outer {

    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-top: 2rem;
}


.offices, .job-titles{
 
    margin-top : 3.5rem;
}


}

@media screen and (max-width: 1120px) {

    .alphabet-box{

         margin: 0.3rem;
    }
    

.alphabet-filters{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.utilities
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    /* margin-top: 1rem; */
}

#add-employee, .search-outer, .filter-by-preffered-name
{
    margin-top: 1rem;
    
}

.search
{
   margin-right: 0.5rem;

}

}

@media screen and (max-width: 990px) {
    
   
   .employee-cards-outer {

    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 2rem;
}
}
@media screen and (max-width: 870px) {
    
 
 header
 {
     display: grid;
     grid-template-columns: 33% 50%;
 }  
 .welcome-outer{
     position: absolute;
     visibility: hidden;
 }
}

.humburger
{
    position: absolute;
    visibility: hidden;
    cursor: pointer;
}

@media screen and (max-width: 800px){
    
    .humburger
    {
        position: absolute;
        visibility:visible;
        top: 84px;
    }
    
   .employee-cards-outer {

    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-top: 2rem;
}
.container {

    display: grid;
    grid-template-columns: 100%;
}

.filters
{
    position: absolute;
    visibility: hidden;
}

.alphabet-filters
{
    margin-top: 2rem;
}

}


@media screen and (max-width: 800px){

  .employee-cards-outer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
  }
  .employee-card
  {
    width: 40%;
   }


}

@media screen and (max-width: 680px){

    .employee-card
    {
      width: 50%;
     }
     header
     {
       display: flex;
       justify-content: space-between;
       align-items: center;    
    
    }
    
}
@media screen and (max-width: 490px){

    .employee-card
    {
      width: 90%;
    }

    .heading
    {
        position: absolute;
        visibility: hidden;
    }

    
.modal-content {
    width: 18rem;
}

  }

  @media screen and (max-width: 380px){

    
.modal-content {
    width: 14rem;
}

  }
    

    
  #filters, .department, .pname, .office{
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 3px;
    border-radius: 2px;
    padding: 0.5rem 1.5rem 0.5rem 0.5rem;
    padding-right: 1.5rem;
    margin-left: 0.5rem;
    font-weight: 600;
    outline: none;
    box-shadow: none !important;
    font-size: 0.8rem;
}

.mozilla #filters {
    font-weight: normal;    
}

.search-modified
{
    display: flex;
    margin-right: 0.5rem;
}

.search-icon-block
{
    display: hidden;
}

@media screen and (min-width: 1281px) {
    
    html{
        font-size: 18px;
        }


    .employee-card {

        width: fit-content;
        justify-content: space-evenly;
        margin-right: 1rem;
        width: 17rem;
        height: 7rem;
        /* box-sizing: border-box; */
   }

   .employee-cards-outer {

    display: flex;
    align-items: center;
    justify-content: space-evenly;  
    margin-top: 2rem;
    flex-wrap: wrap;
}

 .employee-image{
 
    margin-right: 1.5rem;
}

.employee-details{
    margin-right: 0.5rem;
}

}

@media screen and (min-width: 1700px) {
    
    html{
        font-size: 22px;
        }

}
@media screen and (min-width: 2000px) {
    
    html{
        font-size: 25px;
        }

}

@media screen and (min-width: 2500px) {
    
    html{
        font-size: 30px;
        }

}

.view-more, .view-less
{
    color: #2abbfd;
    font-size: 0.7rem;
    font-weight: 600;
}

.view-less
{
    visibility: hidden;
}

.second-half-of-jobtitles{
    visibility: hidden;
}